center,p
{
    
    color: rgb(168, 166, 166);
    font-size: 1.2rem;
}
a[target]
{
color: rgb(20, 20, 212);
font-size: 1.2rem;
}
.formaction .header
{
 
  margin: 10% 10% ;
 
}
.submitt{
    font-size: 1rem;
    padding-block: 1rem;
    color: white;
    background-color: #459B76;
    
}
input:valid
{
    border: 2px solid #459B76;
}
